body
{
  background-image: url("static/bcimg.jpg");
  background-repeat: repeat-x;
  animation-name: MOVE-BG;
  animation-duration: 45s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; 
}
.leadertable
{
  background-color: cadetblue;
}
.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 195px;
  height: 35px;
  background-color: #984caf;
  border: 5px;
  border-style: outset;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover
{
  background-color: #17081b;
}
@keyframes MOVE-BG {
  from {
    
      background-position: 0% 0%
  }
  to { 
      background-position: 187% 0%
  }
}
.header {
    text-align: center;
    padding: 20px;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .topnav a:hover {
    color: black;
  }
/* content*/
.leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    width: 100%;
    padding: 20px;
  }
  /* Add a card effect for articles */
  .card {
    color: rgb(255, 255, 255);
    width: 65%;
    padding: 20px;
    margin-top: 20px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }